/*#17a2b8*/
body {
	background-color: #eeeeee;
	color: grey;
}
.noscroll {
    overflow: hidden;
}
h4 {
    margin-top: -12px;
    font-size: 1.9em;
    line-height: 1.5;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
    color: #4F4F4F;
}
.container-fluid {
	padding: 0;
}
header {
	/* height: 230px; */
	padding-top: 20px;
	background-color: #4F4F4F;
}
.clear{
	clear: both
}
.intro h1 {
    font-weight: 600;
    font-size: 2.8em;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}
.intro h4 {
    color: #fff;
}
.intro h6 {
    margin-top: -10px;
    font-size: 0.9em;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}
main .container {
	padding-top: 25px;
	margin-bottom: 25px; 
}
main .container section {
	background-color: #ffffff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
	padding: 10px;
}
main .container section.portfolio {
	min-height: 112px;
}
main .container section:last-of-type {
	margin-bottom: 0px;
}
main .container section h4 {
	text-align: center;
	text-shadow: none;
}
main .container section p {
	margin: 0;
	padding: 0 10px 10px 10px;
}
.portfolio-img {
	position: absolute;
	left: 50%;
	top: -125px;
	padding-top: 5px;
	border-radius:50%;
	width: 210px;
	height: 210px;
	background-color: #fff;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
	transform: translateX(-50%);
}
.portfolio-img img {
	border-radius:50%;
	width: calc(100% - 10px);
}
.social {
	width: 100%;
	height: 25.19px;
	text-align: right;
	margin-right: 20px;
}
.social ul {
	width: 75px;
	float: right;
}
.social ul li {
	/* float: left; */
	margin-right: 1%;
	margin-left: 1%;
}
.social a {
	color: #4F4F4F;
}
.blob {
	margin-top: 115px;
}
.progress {
	margin-bottom: 10px;
}
.progress-bg {
	background-color: #4F4F4F;
}
.form-control:focus {
	border: 1px solid #4F4F4F;
	box-shadow: inset 0 1px 1px rgba(79, 79, 79, 0.4), 0 0 8px rgba(79, 79, 79, 0.5);
}
ul {
	list-style: none;
	width: 100%;
	padding: 0px;
}
.portfolio ul li {
	width: 23%;
	float: left;
	margin-right: 1%;
	margin-left: 1%;
}
.portfolio article p {
	text-align: center;
}
.contact button {
	background-color: #4F4F4F;
	color: #ffffff;
}
footer {
	height: 50px;
	background-color: #4F4F4F;
    padding-top: 10px;
    bottom:0;
    width:100%;
}
footer p {
	color: #ffffff;
	text-align: center;
}
.error {
	border: 2px solid #17a2b8;
}
.navbar {
	background-color: #4F4F4F;
}
.pagination li.page-item {
	width: 3%;
}
.project-tag-list {
	width: 100%;
}
.portfolio .project-tag-list li {
	float: left;
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
}
.project-right .project-tag-list {
	overflow: hidden;
	margin: 0 auto;
	width: 152px;
}
.project-right .project-tag-container {
	width: 400px;
	margin: 0 auto;
}
.project-right .project-tag-list li {
	float: left;
	width: auto;
	margin-left: 1%;
	margin-right: 1%;
}
.page-item.active .page-link {
	background-color: #17a2b8;
    border-color: #17a2b8;
}
.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #17a2b8;
	display: inline-block;
}
.project-list > li article {
	cursor: pointer;
}
.courses ul li {
	margin-bottom: 10px;
}
.courses ul li div {
	float: left;
}
.courses ul li div:nth-child(even) {
	margin-left: 20px;
	margin-top: -4px;
}
.courses ul li:after {
	display: block;
	clear: both;
	content: "";
}
.experience .row .col div {
	margin: 0 0.5rem 0.5rem 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 1.125rem;
    display: inline-block;
}
.experience .row .col span {
	font-style: italic;
	font-weight: 600;
	display: inline-block;
	color: #17a2b8;
}
.experience .row .col ul {
	margin-left: 0.5rem;
}
.lds-dual-ring {
	display: inline-block;
	width: 64px;
	height: 64px;
	position: absolute;
    top: 50%;
    left: 50%;
  }
  .lds-dual-ring:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
/* Modal */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.4);
}
.modal-content {
	position: relative;
	background-color: #f5f8fa;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.modal-content.small {
	width: 60%;
}
.modal-content.small .modal-body p {
	text-align: center;
	font-size: 26px;
	margin-top: 40px;
}
.modal-header {
	padding: 8px 16px;
	background-color: #4F4F4F;
	color: #fff;
	height: 60px;
}
.modal-header > h1 {
	margin: 0 auto;
}
.modal-close {
	color: #aaa;
	float: left;
	font-size: 28px;
	font-weight: bold;
}
.modal-body {
	padding: 2px 16px;
	min-height: 100px;
}
.modal-footer {
	padding: 2px 16px;
	color: #fff;
	height: 60px;
}
.modal-close:hover,
.modal-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.modal-body .project > div {
	margin-top: 10px;
	width: 48%;
}
.modal-body .project .project-left {
	float: left;
	padding: 2%;
}
.modal-body .project .project-left img {
	max-width: 100%;
}
.modal-body .project .project-right {
	float: left;
	padding: 10px;
}
.modal-body .project .project-right > h4 {
	padding-top: 10px;
}
.modal-body .project .project-right > p {
	text-align: justify;
}
.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
.card {
	height: 300px !important;
}
@media all and (max-width: 1484px) {
	
	.modal-body .project .project-left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.modal-body .project .project-right {
		float: none;
		width: 100%;
		text-align: center;
	}
	.modal-body .project .project-right > p {
		text-align: center;
	}
	.modal {
		padding-top: 25px; 
	}
}
@media all and (min-width: 1485px) {
	
	.project-right .project-tag-list {
		margin: unset !important;
	}
}
@media all and (max-width: 1199px) {
	.pagination li.page-item .page-link {
		margin-left: -6px;
	}
}
@media all and (max-width: 991px) {
	.pagination li.page-item {
		width: 5%;
	}
	.pagination li.page-item .page-link {
		padding-left: 14px;
	}
}
@media all and (max-width: 800px) {
	.modal-content {
		width: calc(100% - 40px);
	}
}
@media all and (max-width: 767px) {
	.portfolio ul li {
		width: 48%;
		margin-right: 1%;
		margin-left: 1%;
	}
	.pagination li.page-item {
		width: 5%;
	}
	.pagination li.page-item .page-link {
		padding-left: 10px;
	}
	.card {
		height: auto !important;
	}
}
@media all and (max-width: 549px) {
	.modal-content.small .modal-body p {
		font-size: 18px;
	}
}
@media all and (max-width: 575px) {
	.portfolio {
		text-align: center;
	}
	.portfolio p {
		text-align: left;
	}
	.portfolio img {
		width: 100%;
	}
	.portfolio ul li {
		width: 98%;
		margin-right: 1%;
		margin-left: 1%;
		float: none;
	}
}
@media all and (max-width: 500px) {
	.social ul {
		display: block;
		float: none;
		/* margin-top: 50px; */
		text-align: center;
	}
}
@media all and (max-width: 435px) {
	.social ul {
		/* margin-left: 19px; */
		/*float: none;*/
	}
	.modal-header > h1 {
		font-size: 1.6rem;
	}
	.modal-body .project .project-right > h4 {
		font-size: 1.5em;
	}
	.modal-body .project .project-right > p {
		text-align: center;
	}
}

@media all and (max-width: 372px) {
	.experience .row .col p {
		padding-left: 0;

	}
}
.header-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;		
}
.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  display: none;
  /* margin-bottom: 30px; */
  cursor: pointer;
  height: 30px;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 22px;
  height: 3px;
  background: white;
  box-shadow: 0 6px 0 0 white, 0 12px 0 0 white;
}

nav {
	margin-top: 80px;
}
header ul[class*="nav-"]{
	display: inline-block;
	width: calc(50% - 4px);
}
header ul[class*="nav-"] li{
	display: inline-block;
	margin: 0px 20px
}
header ul[class*="nav-"] li a:hover{
	text-decoration: none;
	color: #17a2b8;
}header ul[class*="nav-"] li a.active{
	color: #17a2b8;
}
header ul[class*="nav-"] li a{
	color: #fff;
}
header ul.nav-left{
	float: left;
	text-align: right;
	padding-right: 150px;
}
header ul.nav-right{
	float: right;
	padding-left: 150px;
}
nav .close {
	display: none;
}
section {
	padding: 30px !important;
	position: relative;
}
.top-link {
	display: block;
    right: 0;
    position: absolute;
    top: 0;
    padding: 8px;
}
@media all and (max-width: 1000px) {
	header .intro {
		padding-bottom: 100px;
	}
	.box-shadow-menu {
		display: inline-block;
	}
	nav {
		position: fixed;
		left: -300px;
		top: 0;
		bottom: 0;
		width: 250px;
		background-color: #4f4f4f;
		margin: 0px;
		/* padding-top: 100px; */
		z-index: 99;
		transition: all 1s;
		-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.52);
		-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.52);
		box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.52);
	}
	nav.open {
		left: 0;
	}
	nav .close {
		display: block;
		margin-right: 20px;
		margin-top: 20px;
	}


	header ul[class*="nav-"]{
		display: block;
		width: 100%;
	}

	header ul[class*="nav-"] li{
		display: block;
		margin: 20px 20px
	}
	header ul[class*="nav-"] li a:hover{
		text-decoration: none;
		color: #17a2b8;
	}header ul[class*="nav-"] li a.active{
		color: #17a2b8;
	}
	header ul[class*="nav-"] li a{
		color: #fff;
	}
	header ul.nav-left{
		float: none;
		text-align: left;
		margin-top: 50px;
		padding-right: 0px;
	}
	header ul.nav-right{
		float: none;
		padding-left: 0px;
	}
}

@media all and (max-width: 470px) {
	.portfolio-img {
		width: 180px;
		height:  180px;
		top: -120px;
	}
}
.play {
	text-align: center;
    margin-top: -32px !important;
    margin-left: -13px !important;
    cursor: pointer;
    color: #3BA2B9;
}
.portfolio span:first-of-type {
	display: block;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
}